node_modules/
dist/
ClashRoyaleApi/ClashRoyaleApi/bin
ClashRoyaleApi/ClashRoyaleApi/obj
ClashRoyaleApi/ClashRoyaleApi/Properties
ClashRoyaleApi/ClashRoyaleApi.Core/bin
ClashRoyaleApi/ClashRoyaleApi.Core/obj
ClashRoyaleApi/ClashRoyaleApi.Infrastructure/bin
ClashRoyaleApi/ClashRoyaleApi.Infrastructure/obj
ClashRoyaleApi/ClashRoyaleApi.Sts/bin
ClashRoyaleApi/ClashRoyaleApi.Sts/obj
ClashRoyaleApi/ClashRoyaleApi.Sts/Properties
appsettings.Production.json
.vs/
Client/.firebase
Client/src/environments/environment.prod.ts