$cardTitleColor: #007bff;
$titleBackgroundColor: whitesmoke;

/* On mouse-over, add a deeper shadow */
/* Add some padding inside the card container */
.card-detail-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-top: 20px;
  .card-detail-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    background-color: $titleBackgroundColor;
    color: $cardTitleColor;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(56, 3, 3, 0.2);
  }
}
.card-detail-card-container {
  padding: 20px;
  margin: 10px;
}

img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto;
}

.img-thumbnail {
  border: none;
}

/* Hover Zoom Effect */
figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

.hover-effect figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.hover-effect figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Hover Zoom Effect */
