<div class="container mt-2">
  <div class="card-detail">
    <div class="card-detail-container">
      <h2 class="text-primary">
        {{pageTitle}}
      </h2>
      <div class="card-title mb-5">
        <form class="form-inline">
          <strong class="mr-sm-2">Search by rarity:</strong>
          <select class="form-control my-2 mr-sm-2" (change)='onRarityChange($event.target.value)'>
            <option value="all">All</option>
            <option value="common">Common</option>
            <option value="rare">Rare</option>
            <option value="epic">Epic</option>
            <option value="legendary">Legendary</option>
          </select>
          <input #instance="ngbTypeahead" name="filterKeyword" class="form-control mr-sm-2" type="text"
            placeholder="Type card name or type here..." (keyup)="onSearchChanged($event.target.value)"
            (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)" aria-label="Search"
            [ngbTypeahead]="search">
        </form>
      </div>

      <ng-container *ngIf="vm$ | async as vm">
        <div class="container mb-5">
          <div class="card-detail-title">Troops <span class="badge badge-danger">{{vm.cardsTroop.length}}</span>
          </div>
          <hr>
          <div class="row no-gutters">
            <div class="col-md-1 col-4 hover-effect" *ngFor='let card of vm.cardsTroop'>
              <a class="d-block mb-1">
                <figure>
                  <img class="img-fluid img-thumbnail" [src]='card.imageUrl' [title]='card.name' [alt]='card.name'
                    [routerLink]="['/cards', card.id]" />
                </figure>
              </a>
            </div>
          </div>
        </div>

        <div class="container mb-5">
          <div class="card-detail-title">Spells <span class="badge badge-danger">{{vm.cardsSpell.length}}</span>
          </div>
          <hr>
          <div class="row no-gutters">
            <div class="col-md-1 col-4 hover-effect" *ngFor='let card of vm.cardsSpell'>
              <a class="d-block mb-1">
                <figure>
                  <img class="img-fluid img-thumbnail" [src]='card.imageUrl' [title]='card.name' [alt]='card.name'
                    [routerLink]="['/cards', card.id]" />
                </figure>
              </a>
            </div>
          </div>
        </div>

        <div class="container mb-5">
          <div class="card-detail-title">Buildings <span class="badge badge-danger">{{vm.cardsBuilding.length}}</span>
          </div>
          <hr>
          <div class="row no-gutters">
            <div class="col-md-1 col-4 hover-effect" *ngFor='let card of vm.cardsBuilding'>
              <a class="d-block mb-1">
                <figure>
                  <img class="img-fluid img-thumbnail" [src]='card.imageUrl' [title]='card.name' [alt]='card.name'
                    [routerLink]="['/cards', card.id]" />
                </figure>
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ngx-spinner type="ball-clip-rotate-pulse">
  <p style="color: white"> Loading list of cards... </p>
</ngx-spinner>