<div class="container mt-5">
    <div class="card text-center">
        <img class="img-fluid mx-auto d-block" [src]='selectedArena.imageUrl' [title]='selectedArena.name'
            [alt]='selectedArena.name' />
        <div class="card-body">
            <!--Start card body-->
            <h3 class="card-title">{{selectedArena.name}}</h3>

            <div class="container mt-5">
                <div *ngIf='selectedArenaCardUnlocks?.length > 0' class="card">
                    <div class="card-header">
                        <h6>List of cards that can be unlocked</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div *ngFor='let card of selectedArenaCardUnlocks'>
                                <div class="mr-1 mb-1">
                                    <img width="50px" height="50px" [src]='card.imageUrl' [title]='card.name' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf='selectedArenaChestUnlocks?.length > 0' class="card">
                    <div class="card-header">
                        <h6>List of chests that can be unlocked</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div *ngFor='let chest of selectedArenaChestUnlocks'>
                                <div class="mr-1 mb-1">
                                    <img width="50px" height="50px" [src]='chest.imageUrl' [title]='chest.name' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--End card body-->
        </div>
    </div>
</div>
