<div class="container mt-2">
    <ng-container *ngIf="vm$ | async as vm">
        <div class="card-detail text-center">
            <img class="img-fluid mx-auto d-block" [src]='vm?.arena?.imageUrl' [title]='vm?.arena?.name'
                [alt]='vm?.arena?.name' />
            <div class="card-detail-container">
                <!--Start card body-->
                <h2 class="card-title">{{vm?.arena?.name}}</h2>

                <div class="container mt-5">
                    <div class="card-detail-title">Cards Unlock</div>
                    <hr>
                    <div class="row no-gutters">
                        <div class="col-md-1 col-4 hover-effect" *ngFor="let card of vm.arenaCardsUnlock">
                            <a class="d-block mb-1">
                                <figure>
                                    <img class="img-fluid img-thumbnail" [src]='card.imageUrl' [title]='card.name'
                                        [alt]='card.name' [routerLink]="['/cards', card.id]" />
                                </figure>
                            </a>
                        </div>
                    </div>

                    <div class="card-detail-title">Chests Unlock</div>
                    <hr>
                    <div class="row no-gutters">
                        <div class="col-md-1 col-4 hover-effect" *ngFor="let chest of vm.arenaChestsUnlock">
                            <a class="d-block mb-1">
                                <figure>
                                    <img class="img-fluid img-thumbnail" [src]='chest.imageUrl' [title]='chest.name'
                                        [alt]='chest.name' />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <!--End card body-->
            </div>
        </div>
    </ng-container>
</div>