<div class="parallax section hero">
    <div class="container">
        <div class="row">
            <div class="hero-inner">
                <!-- <h1>MY PWA ANGULAR WEBSITE</h1>
                <h2>Sample angular website and progressive web app</h2>
                <a href="https://angular-6-clash-royale.web.app/" class="btn">Jessie Semana</a> -->
            </div>
        </div>
    </div>
</div>

<div id="features" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Features & Overviews</h3>
            <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, <br>lorem
                quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
        </div>
    </div>
</div>

<div id="about" class="parallax section db"
    style="background-image: url('../../../assets/images/parallax-section-bg-2.png')">
    <div class="container">
        <div class="section-title text-center">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore
                <br>
                harum ex magni, dicta impedit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima <br>
                maxime
                quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
    </div>
</div>